@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  display: flex;

  .slide {
    flex: 1;


    &.active {
      flex: 10;
    }
  }
}



